/node_modules
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.php_cs.dist
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
