/bootstrap/ssr
/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
.php-cs-fixer.php
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
/.idea
/.vscode
